extends layout

block content
  h1= title
  p Welcome to App
  a(href="/auth/login") CAS Login
  br
  a(href="/auth/login?eid=test-admin") Login as Test Admin
  br
  a(href="/auth/token") Get Token
  br
  a(href="/docs") API Docs
  br
  a(href="http://localhost:3001") Back to App 
  br
  a(href="/auth/logout") Logout
  br
  p You are #{JSON.stringify(data, null, 2)}
